<div class="event-card">
    <div class="event-date">
      <div class="event-month">{{event.date! | monthtoName}}</div>
      <div class="event-day">{{event.date | DayPipe}}</div>
    </div>
    <div class="event-content">
      <img
        src={{event.imageUrl}} 
        alt="Event Image" 
        class="event-image"
      />
      <div class="event-details">
        <h2 class="event-title">{{event.title}}</h2>
        <p class="event-location">
          {{event.location}}<br />
          {{event.EventStartTime! | HourPmOrAm}} — {{event.EventEndTime! | HourPmOrAm}} 
        </p>
        <p class="event-description">
          {{event.description}}
        </p>
        <a href="#" class="event-link">Book Now -→</a>
      </div>
    </div>
  </div> 